.carTitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 23px;
    font-weight: normal;
}

.vl{
    border-left: 1.5px solid #293A74;
    height: 50px;
}

hr{
    color: #293A74 !important;
    background-color: #293A74 !important;
    border-color: #293A74 !important;

    height: 0.5px !important;
}